main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}


html {
    height: -webkit-fill-available;
}

.img-logo{
    width: 32px;
    margin-right: 10px;
}
h1 {
    display: block;
    font-weight: bold;
    margin: auto;
    text-align: center;
    margin-top: 25px;
}
.main-content {
    width: 100%;
    overflow-x: auto;
}
.img-planning {
    width:100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.soutitre-pmsj{
    text-align: center;
    font-size: 24px;
}
.col p {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
.col{
    margin-top: 30px;
}
.img-icon{
    width: 70px;
    margin-top: 40px;
}
.col .icol{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.col .col-text{
    font-weight: normal;
}