main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}


html {
    height: -webkit-fill-available;
}

.img-logo{
    width: 32px;
    margin-right: 10px;
}
h1 {
    display: block;
    font-weight: bold;
    margin: auto;
    text-align: center;
    margin-top: 25px;
}
.main-content {
    width: 100%;
}
